body{
    overflow-y: auto;
}

/*Header*/
li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}
a.header-elements {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
a.header-elements:after {
    content: "";
    background-color: black;
    position: absolute;
    height: 2px; width: 0; left: 0; bottom: 0px;
    transition: 0.25s;
}
a.header-elements:hover:after {
    width: 90%;
}

/*Contact*/
.contact-container{
    padding-top:30px;

}
.contact-header-text{
    padding-left:25px; 
    font-size: 24px;
}
.contact-method-titles{
    font-size:19px;
    padding-top:28px; padding-left:55px; 
}
.contactpage-images{
    width: 50px; height: 50px;
    padding-left: 20px; 
}
a.email, a.git{
    font-size:22px;
    padding-left:20px;
    text-decoration: underline;
    color:black;
}