/* General Body Styles */
body {
    overflow-y: auto;
}

/* Header Styles */
ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: table-cell;
    padding: 15px 0;
    position: relative;
}

a.header-elements {
    color: black;
    display: inline-block;
    letter-spacing: 0.15em;
    padding: 15px 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a.header-elements:after {
    background-color: black;
    bottom: 0px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: 0.25s;
    width: 0;
}

a.header-elements:hover:after {
    width: 90%;
}

.social-media-container {
    margin-left: auto;
    padding-right: 10px;
}

.header-img {
    height: 40px;
    text-decoration: none;
    width: 40px;
}

a.your-social-media-link {
    text-decoration: none;
}

/* Projects Section */
.main-container{
    padding-top:70px;
}

.projects-container {
    padding-bottom: 70px;
}

.projects-titles {
    font-size: 34px;
    padding-bottom: 5px;
    padding-left: 24px;
    padding-top: 10px;
}
.demo-images{
    width:85%;
    max-width: 900px;
    margin-left:24px;
    height:600px;
    border:1px solid lightgrey
}

.projects-about {
    font-size: 19px;
    max-width: 800px;
    padding-left: 24px;
}

a.links{
    text-decoration: none;
}