body{
    overflow-y: auto;
}

/*Header*/
li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}
a.header-elements {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
a.header-elements:after {
    content: "";
    background-color: black;
    position: absolute;
    height: 2px; width: 0; left: 0; bottom: 0px;
    transition: 0.25s;
}
a.header-elements:hover:after {
    width: 90%;
}

/*Resume*/
.resume-container{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 90vh;   
}