body{
    overflow-y: auto;
}
@media (max-width: 768px) {
    li, a {
        display: block;
        padding: 10px 20px;
    }
    a:hover {
        width: auto;
        left: auto;
        text-decoration: none;
    }
    .aboutme-container {
        padding-top: 50px;
    }
    .myname {
        font-size: 20px;
    }
    .aboutme-paragraph {
        font-size: 12px;
        padding: 10px 20px;
    }
}


/*Header*/
li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}
a.header-elements {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
a.header-elements:after {
    content: "";
    background-color: black;
    position: absolute;
    height: 2px; width: 0; left: 0; bottom: 0px;
    transition: 0.25s;
}
a.header-elements:hover:after {
    width: 90%;
}


/*About*/
.aboutme-container{
    padding-top:200px;    
}
.hi-text{
    padding-left:570px;
    font-size:30px;
}
.myname{
    font-size:150px;
}
.aboutme-paragraph{
    font-size: 19px;
    padding-left:30px;
    max-width: 600px;
}

/*Projects*/
.projects-container{
    padding-top:10px;
}
.projects-titles{
    font-size:30px;
    padding-top:10px; padding-left:45px; 
}
.projects-about{
    font-size: 19px;
    padding-left:50px; padding-bottom: 20px;
    max-width: 800px;
}
.projects-demo-screen{
    width: 1200px; height:600px;
    margin-left: 120px; 
    background-color:rgb(194, 207, 221);
}

/*Resume links to my resume site*/

/*Contact*/
.contact-container{
    padding-top:10px;

}
.contact-header-text{
    padding-left:25px; 
    font-size: 28px;
}
.contact-method-titles{
    font-size:23px;
    padding-top:20px; padding-left:55px; 
}
.contactpage-images{
    width: 30px; height: 30px;
    padding-left: 20px; 
}
a.email, a.git{
    font-size:22px;
    padding-left:10px;
    text-decoration: underline;
    color:black;
}
